{% extends "base.html" %}
{% block content %}
<div class="card">
    <h1>Login</h1>
    <form method="POST">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit" class="btn">Login</button>
        </div>
    </form>
    <p>New user? <a href="{{ url_for('register') }}">Click here to register</a>.</p>
    <p>Forgot your password? <a href="{{ url_for('reset_request') }}">Click here to reset</a>.</p>
</div>
{% endblock %}